* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  width: 100%;
  max-height: 100%;
  color: black;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  width: 100%;
  max-height: 100%;
  background-color: #0D2C54;
  color: white;
}

main {
  height: 100%;
  margin: auto;
}

footer {
  width: 100%;
  max-height: 100%;
}

.button {
  border-radius: 50%;
  background-color: white;
  border: none;
  width: 240px;
  height: 240px;
}

.img_animal {
  width: 200px;
}

.tortueSprite {
  width: 500px;
  height: 500px;
  background-image: url("sprites/tortue_sprite.png");
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}

.requinBlancSprite {
  width: 500px;
  height: 500px;
  background-image: url("sprites/requin_blanc_sprite.png");
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}

.vaquitaSprite {
  width: 500px;
  height: 500px;
  background-image: url("sprites/vaquita_sprite.png");
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}

.requinBaleineSprite {
  width: 500px;
  height: 500px;
  background-image: url("sprites/requin_baleine_sprite.png");
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}

.baleineSprite {
  width: 500px;
  height: 500px;
  background-image: url("sprites/baleine_sprite.png");
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}

.thonRougeSprite {
  width: 500px;
  height: 500px;
  background-image: url("sprites/thon_v3_sprite.png");
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}

@keyframes anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -23000px;
  }
}
/*Animations
.button1{ 
background-image: url('sprites/tortue_sprite.png');
  background-size: cover;
  background-position: 0 0;
  animation-name: anim;
  animation-duration: 3.11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: steps(46);
}
.button2{ 
  background-image: url('sprites/requin_blanc_sprite.png');
    background-size: cover;
    background-position: 0 0;
    animation-name: anim;
    animation-duration: 3.11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(46);
  }
  @keyframes anim {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -9200px;
    }
  }*/
.grille {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 50px;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .grille {
    height: 500px;
  }
}
h1 {
  text-align: center;
  font-size: 100px;
  margin: 20px;
}

body {
  font-family: "Varela Round", sans-serif;
}

.modal {
  margin-right: 200px;
  background-color: #0D2C54;
}

.modal-content {
  width: 900px;
  height: 650px;
  margin-left: -200px;
  margin-top: 30px;
}

.close {
  background-color: #0D2C54;
  color: white;
  border-color: #0D2C54;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.modal-header {
  border-color: #0D2C54;
  border-width: 2px;
}

.x {
  position: absolute;
  top: 3.6%;
  left: 4.6%;
}

.contenue {
  padding-bottom: 20px;
}

/* .requin {
  position:absolute;
  top:3.5%;
  left:4.6%;
 }
 .thon {
  position:absolute;
  top:3.5%;
  left:4.6%;
 }
 .buttonThon{
  width:300px;
  position:absolute;
  top:44%;
  left:62%;
 }
 .buttonBaleine{
  width:175px;
  position:absolute;
  top:52%;
  left:43%;
 }*/
.visuels {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.titre3 {
  display: grid;
  text-align: center;
  font-size: 50px;
}

.info {
  color: #0D2C54;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  max-width: 600px;
  margin-right: 80px;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 0px;
}

.text {
  color: #0D2C54;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  max-width: 600px;
  margin-right: 80px;
}

.revenir {
  border-radius: 50%;
  border-color: white;
  background-color: white;
  border: none;
  width: 70px;
  height: 40px;
  margin-top: 50px;
  margin-left: 50px;
}

.contenue {
  display: grid;
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.img_gros {
  grid-row: 1/4;
}

.img6 {
  width: 300px;
}

.img2 {
  width: 500px;
}

.visuels2 {
  grid-template-columns: auto auto;
  grid-row: 1/4;
}

.img3 {
  width: 500px;
}

.visuels3 {
  grid-template-columns: auto;
  grid-row: 1/4;
}

.arriere_plan {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 20vh;
}

.compagnie {
  display: block;
  margin: auto;
  text-align: center;
  heigth: 100%;
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */